body {background-color: rgb(210, 255, 0)}
h1 {
    color:black;
    font-size: 48px
}
h2 {color: black}
div {
    background-color:rgb(255, 255, 0);
    color: black;
    text-align: left;
    margin-top: 20px;
    padding: 20px}
a {color:black}
.negociable {color: rgb(80, 79, 79)}
#fact {font-weight: 600;}